/* Common */
.hidden-fields {
	display: none;
}
.cleardiv {
	clear: both;
}
.loading {
	text-align: center;
}
.facebook-events-calendar {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 25px;
}

/* Bar */
.n-events-calendar-bar {
	margin-top: 20px;
}
.n-events-calendar-bar .bar-btn.active {
	background: #5AA4A3 !important;
}
.n-events-calendar-bar .bar-btn {
	color: #fff;
    background: #757575;
    padding: 3px 10px 3px 28px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    border: 0;
    margin-right: 10px;
	line-height: 26px;
	cursor: pointer;
	display: inline-block;
	position: relative;
}
.n-events-calendar-bar .bar-btn:hover {
	background: #5AA4A3 !important;
}
.n-events-calendar-bar .n-back-calendar {
	padding: 3px 10px 3px 22px;
	margin-right: 0;
	float: right !important;
}
.n-events-calendar-bar .bar-btn i {
	position: absolute;
	left: 10px;
}
.n-events-calendar-bar .n-calendar-view i {
	top: 7px;
}
.n-events-calendar-bar .n-list-view i {
	top: 9px;
}
.n-events-calendar-bar .n-back-calendar i {
	top: 9px;
}

/* Calendar */
.n-tiva-calendar .calendar-table {
	table-layout: auto;
	box-sizing: content-box;
	border-right: 0;
}
.n-tiva-calendar .calendar-table th, 
.n-tiva-calendar .calendar-table td {
	border-bottom: none;
	border-right: none;
	padding: 8px;
}
.n-tiva-calendar .calendar-btn span {
	font-size: 14px;
	color: #fff;
}

/* Event list */
.n-tiva-event-list {
	padding: 15px;
	background: #eeeeee;
	display: none;
}
.n-tiva-event-list .list-title {
	color: #4b4f56;
    font-size: 15px;
    font-weight: bold;
	margin-bottom: 12px;
}
.n-tiva-event-list .list-title.all.past {
	margin-top: 20px;
}
.n-tiva-event-list .event-item {
	float: left;
	width: 100%;
	border-top: 1px dotted #666;
	padding-top: 20px;
	margin-bottom: 20px;
}
.n-tiva-event-list .event-block {
	float: left;
	width: 33%;

}
.n-tiva-event-list .event-item:first-child {
	border-top: none;
	margin-top: 0;
	padding-top: 0;
}
.n-tiva-event-list .event-name {
	color: #5aa4a3;
}
.n-tiva-event-list .event-time, 
.n-tiva-event-list .event-date {
	margin-bottom: 0;
	color: #de935f;
	font-size: 13px;
}
.n-tiva-event-list .event-time i, 
.n-tiva-event-list .event-date i {
	margin-right: 5px;
}
.n-tiva-event-list .event-desc {
	color: #666;
	font-size: 14px;
	margin-top: 5px;
}
.n-tiva-event-list .link {
	cursor: pointer;
}

/* Event detail */
.n-tiva-event-detail {
	padding: 15px;
	background: #eeeeee;
	display: none;
}
.n-tiva-event-detail .event-name {
	color: #5aa4a3;
}
.n-tiva-event-detail .event-time, 
.n-tiva-event-detail .event-date, 
.n-tiva-event-detail .event-location {
	margin-bottom: 2px;
	color: #de935f;
	font-size: 14px;
}
.n-tiva-event-detail .event-time i, 
.n-tiva-event-detail .event-date i, 
.n-tiva-event-detail .event-location i {
	margin-right: 5px;
	width: 14px;
}
.n-tiva-event-detail .event-location i {
	font-size: 18px;
}
.n-tiva-event-detail .event-desc {
	color: #666;
	border-top: 1px solid #e2e2e2;
	padding-top: 15px;
	margin-top: 15px;
	margin-bottom: 22px;
	line-height: 22px;
	font-size: 14px;
}
.n-tiva-event-detail .event-link {
	margin-top: 20px;
}
.n-tiva-event-detail .event-link a {
	color: #fff;
    background: #5AA4A3;
    padding: 8px 10px 8px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    border: 0;
	cursor: pointer;
	position: relative;
}
.n-tiva-event-detail .event-link a:hover {
	text-decoration: none;
}
.n-tiva-event-detail .event-link a i {
	margin-right: 5px;
}
.n-tiva-event-detail .event-map {
	margin-top: 30px;
}

/* Tooltip */
.calendar-day-event {
	position: relative;
}
.calendar-day-event .n-tiva-event-tooltip {
	position: absolute;
    z-index: 9999;
    width: 180px;
    left: 50%;
	margin: 0 0 0 -100px;
    bottom: 35px;
    background: #f5f5f5;
    opacity: 0;
	border: 1px solid #cccccc;
	box-shadow: 0 0 5px 2px rgba(145,145,145,.35);
    border-radius: 6px;
	pointer-events: none;
	padding: 10px;
	text-align: left;
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}
.calendar-day-event .n-tiva-event-tooltip::before, .calendar-day-event .n-tiva-event-tooltip::after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.calendar-day-event .n-tiva-event-tooltip::after {
	border-color: rgba(245, 245, 245, 0);
	border-top-color: #f5f5f5;
	border-width: 8px;
	margin-left: -8px;
}
.calendar-day-event .n-tiva-event-tooltip::before {
	border-color: rgba(204, 204, 204, 0);
	border-top-color: #cccccc;
	border-width: 9px;
	margin-left: -9px;
}
.calendar-day-event .n-tiva-event-tooltip .event-tooltip-item {
	border-bottom: 1px dotted #666;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.calendar-day-event .n-tiva-event-tooltip .event-tooltip-item:last-child {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
.calendar-day-event .n-tiva-event-tooltip .event-time {
	display: inline-block;
	font-size: 12px;
	color: #fff;
    background: #757575;
    padding: 0 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 0;
    margin-bottom: 5px;
	line-height: 22px;
}
.calendar-day-event .n-tiva-event-tooltip .event-time i {
	margin-right: 5px;
}
.calendar-day-event .n-tiva-event-tooltip .event-name {
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 6px;
	color: #5aa4a3;
}
.calendar-day-event .n-tiva-event-tooltip .event-image  img {
	width: 100%;
	margin-bottom: 6px;
	border: 1px solid #EEE;
}
.calendar-day-event .n-tiva-event-tooltip .event-desc {
	font-size: 14px;
	margin-top: 3px;
}