#contactable-inner {
	background-image:url(../images/reservation.png);
	color:#111;
	font-size: 16px;
	line-height: 18px;
	background-color:#111;
	cursor:pointer;
	height:180px;
	left:0;
	margin-left:-5px;
	*margin-left:-5px;
	overflow:hidden;
	position:fixed;
	*position:absolute;
	text-indent:-100000px;
	top:200px;
	*margin-top:10px;
	width:57px;
	z-index:9999;
}

#contactable-contactForm {
    color: #777;
    background: #111;    
	border:2px solid #777;
	left:0;
	margin-left:-400px;
	*margin-left:-434px;
	margin-top:-160px;
	overflow:hidden;
	padding-left:0;
	position:fixed;
	top:250px;
	width:290px;
	z-index:99;
}

form#contactable-contactForm input,
form#contactable-contactForm textarea,
form#contactable-contactForm select {
	border: 0;
    border-radius: 0;
    box-shadow: none;
    height: 65px;
    background: #111;
    line-height: 65px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    font-size: 1.1em;
    display: block;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    color: #777;
        font-family: 'Abel', sans-serif;
}

form#contactable-contactForm p {
	font-size:0.9em;
}

form#contactable-contactForm .contactable-header {
	margin-bottom:10px;
}

#contactable-contactForm .contactable-green {
	color:	#76b347;
}

#contactable-overlay {
	background-color:#666666;
	display:none;
	height:100%;
	left:0;
	margin:0;
	padding:0;
	position:absolute;
	top:0;
	width:100%;
	z-index:0;
}
.contactable-invalid { background-color: #EDBE9C; }
#contactable-name.contactable-invalid { background-color: #EDBE9C; }
#contactable-email.contactable-invalid { background-color: #EDBE9C; }
#contactable-message.contactable-invalid { background-color: #EDBE9C; }

form#contactable-contactForm label{
	line-height:150%;
}

form#contactable-contactForm #contactable-loading {
	background: url(../images/loader.png) no-repeat;
	width:66px;
	height:66px;
	margin: 80px auto;
	display:none;
}

#contactable-callback {
	font-size:1.1em;
	color: #FFF;
	width:325px;
	margin: 100px auto;
	display:none;
}

.contactable-holder {
	margin:0;
	padding:10px 10px 10px 20px;
}

/* Submit button */
form#contactable-contactForm .contactable-submit {
    height: 65px;
    line-height: 15px;
    background: none;
    border: 0;
    padding: 0 25px;
    width: 100%;
    font-size: 1.1em;
    font-family: 'Abel', sans-serif;
    letter-spacing: 2px;
    text-align: left;
    transition: all .3s;
    color: #fff;
}

form#contactable-contactForm .contactable-submit:hover {
     background: #fff;
     color: #000;
    }

button.contactable-cupid-green:active {
     outline: none;
     border-color: #aaa;
    }
